body {
	margin: 0;
	padding: 0;
	background: #414040;
	color: white;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

.search-form {
	border: 1px solid white;
	padding: 2em;
	border-radius: 20px;
	margin: 50px;
}

.search-form > input, .search-form > button {
	font-size: 20px;
}

.film-elem {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 10px;
	border: 1px solid white;
	border-radius: 10px;
	padding: 10px;
}

.film-elem > div:first-child {
	
	display: flex;
	flex-direction: column;
}

.film-elem > div > img {
	object-fit: contain;
	width: 300px;
	height: auto;
}

section {
	display: flex;
	justify-content: center;
	width: 80%;
	height: auto;
	flex-wrap: wrap;
}

.film-elem div:last-child {
	margin: 15px 0;
}

.btn-watch-later {
	width: auto;
	height: 30px;
	margin: auto;
	border-radius: 10px;
}

header {
	position: sticky;
	top: 0;
	padding: 20px;
}

header > button {
	font-size: 20px;

}

#watchList {
	visibility: hidden;
}